option domain-name "{{ cluster_name }}.{{ main_domain }}";
option domain-name-servers {{ ansible_facts['enp0s8']['ipv4']['address'] }};

default-lease-time 600;
max-lease-time 7200;

log-facility local7;

subnet {{ ansible_facts['enp0s8']['ipv4']['network'] }} netmask {{ ansible_facts['enp0s8']['ipv4']['netmask'] }} {
  range {{ ansible_facts['enp0s8']['ipv4']['network'] | splitext | first }}.200 {{ ansible_facts['enp0s8']['ipv4']['network'] | splitext | first }}.222;
  option domain-name-servers {{ ansible_facts['enp0s8']['ipv4']['address'] }};
  option domain-name "{{ cluster_name }}.{{ main_domain }}";
  option routers {{ ansible_facts['enp0s8']['ipv4']['address'] }};
  default-lease-time 600;
  max-lease-time 7200;
}


host bootstrap {
  hardware ethernet 52:54:00:3c:bc:07;
  fixed-address {{ ansible_facts['enp0s8']['ipv4']['network'] | splitext | first }}.10;
  option host-name "bootstrap.{{ cluster_name }}.{{ main_domain }}";
}

host master0 {
  hardware ethernet 52:54:00:e5:24:4b;
  fixed-address {{ ansible_facts['enp0s8']['ipv4']['network'] | splitext | first }}.20;
  option host-name "master0.{{ cluster_name }}.{{ main_domain }}";
}

host master1 {
  hardware ethernet 52:54:00:04:8a:d7;
  fixed-address {{ ansible_facts['enp0s8']['ipv4']['network'] | splitext | first }}.21;
  option host-name "master1.{{ cluster_name }}.{{ main_domain }}";
}

host master2 {
  hardware ethernet 52:54:00:49:74:7c;
  fixed-address {{ ansible_facts['enp0s8']['ipv4']['network'] | splitext | first }}.22;
  option host-name "master2.{{ cluster_name }}.{{ main_domain }}";
}
host worker0 {
  hardware ethernet 52:54:00:8a:38:b6;
  fixed-address {{ ansible_facts['enp0s8']['ipv4']['network'] | splitext | first }}.30;
  option host-name "worker0.{{ cluster_name }}.{{ main_domain }}";
}
host worker1 {
  hardware ethernet 52:54:00:c2:63:9d;
  fixed-address {{ ansible_facts['enp0s8']['ipv4']['network'] | splitext | first }}.31;
  option host-name "worker1.{{ cluster_name }}.{{ main_domain }}";
}
